*{
    height: 100vh;
}


body{
    font-family: 'Cabin', sans-serif;
    background-color: #272525;
    background-image: url(../img/bg-01.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* height: 100vh; */
    width: 100vw;
    color: #cecece;
    
}

#main{
}

h1{
    color: #cecece;
    letter-spacing: 3px;
}


h4{
    font-size: 18px;
    /* letter-spacing: 1px; */
    line-height: 30px;
}

.navbar{
    /* background-color: #111; */
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: left;
    display: block;
    color: #cecece;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #d49469;
    color: #000;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /* opacity: 0.9; */
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding:10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ddd;
    display: block;
    transition: 0.35s;
}


.side-nav a:hover{
    color: #fff;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

/* #main{
    transition:margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
} */

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.header-content{
    margin: 5%;
}


/* about part setting */
#about{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.about-box{
    margin: 1% 10% 1% 10%;
}

.about-box h4{
    flex-direction: column;
}


/* services part setting */
#services{
    display: flex;
    height: 20%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

#services .services-box{
    
}

.services-box h1{
    color: rgb(255, 255, 255);
}


#services .services-box button{
    background-color: #363636;
    color: #cecece;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    margin: 5px;
}


#services button:hover{
    background-color: #d49469;
    color: #000;
}


/* contact part setting */
#contact{
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box{
    display: flex;
    justify-content: space-evenly;
}


.contact-card{
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}

a {
    text-decoration: none;
    color: #cecece;
}

a:hover{
    color: #d49469;
}



#contact button a{
    font-weight: bolder;
    color: white;
    /* remove text bottom highlight */
    text-decoration: none;
    border: none;
    outline: none;
    cursor: pointer;
}

#contact button{
    background-color: #d49469;
    border: none;
    cursor: pointer;
    width: 120px;
    height: 50px;
    border-radius: 5px;    
    margin-top: 5%;
}


/* footer setting */

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.footer-message{
    margin-left: 5px;
}

.footer-icon img{
    width: 10%;
    margin-right: 10px;
}


@media (max-width:568px){
    navbar-nav{display: none}
}

@media(min-width:550px){
    .open-slide{display: none}
}


@media(max-width:600px){
    .services-box{
        flex-direction: column;
        align-items: center;
    }
}


/* testing area */
/* 
#services-t{
    display: grid;
}

.item{
    background-color: #fff;
    color: black;
    padding: 10px;
} */